@import '../variables';

$mentorWidth: 100px;

.mentor-box {
  width: $mentorWidth;
  margin-right: 10px;
}

.mentor-add {
  width: $mentorWidth;
  height: $mentorWidth;
  color: lighten($PRIMARY, 10%);
  background: none;

  &:hover, &:focus {
    cursor: pointer;
    color: $PRIMARY
  }
}

img.mentor-img {
  width: $mentorWidth;
}
