$BREAK_SM: 576px;
$BREAK_MD: 768px;
$BREAK_LG: 992px;
$BREAK_XL: 1200px;

$WHITE: #FEFEFE;
$OFFWHITE: #FAFAFA;
$LIGHT_GREY: #DADFE1;
$GREY: #666666;
$DARK_GREY: #555555;
$BLACK: #333333;
$REAL_BLACK: #000000;

$BLUE: #1E5A8D;
$LIGHT_BLUE: #246AA7;

$BACKGROUND: $OFFWHITE;
$PRIMARY: $BLUE;
$SECONDARY: $LIGHT_BLUE;
$ACCENT: #8BA9C3;

$FONT: "Helvetica Neue", Helvetica, Arial, sans-serif;
$ACCENT_FONT: "Helvetica Neue", Helvetica, Arial, sans-serif;

$SSE_VERY_LIGHT_BLUE: #eef3f7;
$SSE_LIGHT_BLUE: #86acc7;
$SSE_MEDIUM_BLUE: #5289af;
$SSE_DARK_BLUE: #426e8c;
