$WHITE: #FEFEFE;
$OFFWHITE: #FAFAFA;
$LIGHT_GREY: #DADFE1;
$GREY: #666666;
$DARK_GREY: #555555;
$BLACK: #333333;
$REAL_BLACK: #000000;

$BLUE: #1E5A8D;
$LIGHT_BLUE: #8AA9C4;

$BACKGROUND: $OFFWHITE;
$PRIMARY: $BLUE;
$SECONDARY: $LIGHT_BLUE;
