@import 'variables';

.actions-container {
  position: relative;

  .actions {
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top: 0px;
    right: 5px;
    .btn-small {
      border-radius: 0;
      font-size: 12px;
      padding: .25rem .5rem;
    }
    &.shown {
      opacity: 1;
    }
  }

  @media (min-width: $BREAK_SM) {
    &:hover, &:focus {
      .actions {
        opacity: 1;
      }
    }
  }
}

