@import 'variables';

.event {
  .event-time, .event-location, .event-text {
    float: left;
    width: 100%;
    color: $DARK_GREY;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 2.5px;
  }
}
