@import 'variables';

.go-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    table-layout: fixed;
    width: 100%;
}

.go-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.go-table td,
.go-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding: 0.5em 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.go-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

.go-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}
