@import 'variables';

$BASE_PADDING: 7.5%;

.hero {
  width: 100%;
  background-color: #CECECE;

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .image {
      margin: 3.75%;
      margin-left: 0;
      width: 45%;
      float: right;
      min-width: 180px;
      max-width: 580px;
    }

    .pillars {
      margin: 3.75%;
      margin-right: 0;
      width: 30%;
      color: $WHITE;
      float: left;
      font-size: 10px;
      text-align: right;

      .pillar {
        margin: 0;
      }
    }

    @media (min-width: 320px) {
      .pillars {
        font-size: calc(2.273vw + 2.724px);
      }
    }

    @media (min-width: 1200px) {
      .pillars {
        font-size: 30px;
      }
    }
  }
}

.left-border {
  border-top: 1px solid $LIGHT_GREY;
  border-left: none;
  padding-top: 15px;
}

@media (min-width: 768px) {
  .left-border {
    padding-top: 0;
    border-top: none;
    border-left: 1px solid $LIGHT_GREY;
  }
}

