@import 'variables';

.home-events {
  .link {
    width: 100%;
    display: block;
  }
  .event-heading {
    font-family: $ACCENT_FONT;
  }
  .home-event {
    * {
      margin: 0;
      font-size: 1em;
      line-height: 1.1em;
    }
    .event-heading {
      color: $PRIMARY;
      font-weight: bold;
    }
  }
}
