@import 'variables';

$BASE_PADDING: 25%;

.hero {
  width: 100%;
  background-color: $SECONDARY;
  border-bottom: $PRIMARY solid 1px;

  .hero-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    margin: 0 auto;
    max-width: 1200px;

    .hero-img {
      order: 0;
      width: 50%;
      flex: 0 1 auto;
      display: block;
      align-self: auto;
    }

    .hero-text {
      order: 0;
      width: 40%;
      flex: 0 1 auto;
      align-self: center;
      color: $WHITE;
      font-size: 12px;
      text-align: left;
      font-family: 'Quicksand', sans-serif;
      p { margin: 0; };
    }

    @media (min-width: 320px) {
      .hero-text {
        font-size: calc(2.727vw + 3.2736px);
      }
    }

    @media (min-width: 1200px) {
      .hero-text {
        font-size: 36px;
      }
    }
  }
}

.front-heading {
  font-family: 'Quicksand', sans-serif;
}

@media (min-width: 768px) {
  .left-border {
    padding-top: 0;
    border-top: none;
    border-left: 1px solid $LIGHT_GREY;
  }
}
