@import 'variables';

.home-events {
  .link {
    width: 100%;
    display: block;
    color: $PRIMARY;
  }
  .home-event {
    * {
      margin: 0;
      font-size: 1em;
      line-height: 1.1em;
    }

    .event-time, .event-location {
      font-weight: 400;
    }

    .event-heading {
      color: $PRIMARY;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
}
