@import 'variables';

$BASE_PADDING: 25%;

.flex-container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.flex-2, .flex-1 {
  order: 2;
  width: 100%;
}

.hero {
  background: $ACCENT;
  margin-bottom: 24px;
  height: 130px;
  .hero-img {
    display: none;
    width: 50%;
    background-position: center;
    background-size: cover;
    background-color: $ACCENT;
    opacity: 1;
    transition: opacity 1.2s;
    &.loading {
      opacity: 0;
    }
  }

  .hero-text {
    color: $WHITE;
    text-align: left;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .hero-content-container {
    display: inline-block;
    position: relative;
    width: 100%;
    .fancy-hero-container {
      display: none;
    }
    .hero-content {
      padding: 12px;
      font-size: 0.7em;
      color: $WHITE;
      width: 100%;
      height: 100%;
      display: block;
      background-color: $SECONDARY;
      box-sizing: border-box;
    }
  }

  .hero-heading {
    font-family: $ACCENT_FONT;
  }

  .hero-sub {
    margin: 0;
  }
}

.front-heading {
  font-weight: bold;
  font-family: $ACCENT_FONT;
}

.flex-border {
  order: 1;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $LIGHT_GREY;
}

@media (min-width: $BREAK_MD) {
  .flex-container {
    max-width: $BREAK_MD;
  }

  .flex-2 {
    order: 1;
    width: 55%;
  }

  .flex-1 {
    order: 1;
    width: 40%;
    padding-left: 20px;
  }

  .hero {
    overflow-y: hidden;
    height: 300px;
    .hero-img {
      display: inline-block;
      height: 100%;
      z-index: -200;
      border-top: 3px solid $ACCENT;
      border-bottom: 3px solid $ACCENT;
    }

    .hero-content-container {
      height: 200px;
      width: 500px;
      display: inline-block;
      position: relative;
      width: 0px;
      z-index: 10;
      // z-index: -100;
      .hero-content {        
        display: block;
        position: absolute;
        background: none;
        width: 300px;
        height: 100%;
        top: -10px;
        left: -145px;
      }
      .fancy-hero-container {
        display: block;
        width: 300px;
        height: 650px;
        position: absolute;
        background-color: $SECONDARY;
        border-left: 3px solid $ACCENT;
        border-right: 3px solid $ACCENT;
        left: -200px;
        top: -260px;
        transform: rotate(30deg);
      }
    }
  }

  .flex-border {
    padding-top: 0;
    border-top: none;
    border-bottom: none;
  }

}

@media (min-width: $BREAK_XL) {
  .flex-container {
    max-width: $BREAK_LG;
  }
  .hero {
    .hero-heading {
      font-size: 2em;
    }

    .hero-sub {
      font-size: 1.25em;
    }
  }
}
