@import 'variables';

$BASE_PADDING: 25%;

.hero {
  width: 100%;
  background-color: $SECONDARY;
  border-bottom: $PRIMARY solid 1px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/SSE-Banner-TriColor-bg.png");

  .hero-body {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .pillars {
      float: left;
      color: $GREY;
      margin: 3.75% 5%;
      font-size: 13px;
      text-align: left;
      .pillar { margin: 0; }
      font-family: 'Quicksand', sans-serif;
    }

    @media (min-width: 320px) {
      .pillars {
        font-size: calc(1.786vw + 7.286px);
      }
    }

    @media (min-width: 544px) {
      .pillars {
        font-size: calc(3.201vw - .415px);
      }
    }

    @media (min-width: 1200px) {
      .pillars {
        font-size: 38px;
      }
    }
  }
}

.front-heading {
  font-family: 'Quicksand', sans-serif;
  border-bottom: 1px solid $LIGHT_GREY;
}

@media (min-width: 768px) {
  .left-border {
    padding-top: 0;
    border-top: none;
    border-left: 1px solid $LIGHT_GREY;
  }
}
