@import 'variables';

.navbar-sse {
  background-color: $PRIMARY;

  .nav-item .nav-link {
    color: $WHITE;
    font-size: 1.25em;
    font-family: 'Quicksand', sans-serif;
    &:hover {
      color: darken($WHITE, 33%);
    }
    &.active {
      color: darken($WHITE, 33%);
    }
  }

  .navbar-toggler.navbar-toggler-right {
    margin-top: 11.5px;
  }
}

@media (min-width: 767px) {
  .navbar-sse {
    padding-left: 12%;
    padding-right: 12%;
  }
}
