@import 'variables';

.navbar-sse {
  background-color: $PRIMARY;

  .nav-item .nav-link {
    color: $WHITE;
    font-size: 1.25em;
    font-family: $ACCENT_FONT;
    &:hover, &:focus, &:active {
      color: $ACCENT;
    }
  }

  .navbar-toggler.navbar-toggler-right {
    margin-top: 11.5px;
  }
}

@media (min-width: 767px) {
  .navbar-sse {
    padding-left: 12%;
    padding-right: 12%;
  }
}
