@import 'variables';

.page {
  padding-top: 10px;
  padding-bottom: 10px;
  .actions {
    margin-bottom: .5em;
  }
}

.page.static {
  a:hover {
    cursor: pointer;
  }
  h2 {
    margin: 1em 0;
  }
  h2:first-child {
    margin-top: 0;
  }
  ul {
    padding-left: 40px;
  }
}

.title-link {
  color: $BLACK;
  &:hover, &:focus, &:active {
    color: $BLACK;
    text-decoration: none;
  }
}
