@import 'variables';

.page {
  padding: 10px;
  .actions {
    margin-bottom: .5em;
  }
}

.title-link {
  color: $BLACK;
  &:hover, &:focus, &:active {
    color: $BLACK;
    text-decoration: none;
  }
}
