@import 'variables';

.pane {
  background-color: $WHITE;
  border-left: 7.5px solid $PRIMARY;
  padding: 10px;
  padding-left: 15px;
  transition: background-color .25s ease-out;
  margin-bottom: 15px;

  &:after {
    clear: both;
    content: ' ';
    display: block;
  }

  &:hover {
    background-color: darken($WHITE, 10%);
  }

  .heading {
    margin-bottom: 10px;

    .title {
      float: left;
      font-weight: 600;
    }

    &:after {
      clear: both;
      content: ' ';
      display: block;
    }
  }

  .description {
    color: $GREY;
  }

  .tags {
    .tag {
      padding-right: 5px;
    }
  }
}
