@import 'variables';

.pane {
  background-color: $WHITE;
  border-left: 7.5px solid $PRIMARY;
  padding: 10px;
  padding-left: 15px;
  transition: background-color .25s ease-out;
  cursor: pointer;
  margin-bottom: 15px;

  &:after {
    clear: both;
    content: ' ';
    display: block;
  }

  &:hover {
    background-color: darken($WHITE, 10%);
    .heading .actions {
      display: block;
    }
  }

  .heading {
    margin-bottom: 10px;
    .title {
      float: left;
      font-weight: 600;
    }
    .actions {
      display: none;
      float: right;
      .btn-small {
        border-radius: 0;
        font-size: 12px;
        padding: .25rem .5rem;
      }
      &.shown {
        display: block;
      }
    }
    &:after {
      clear: both;
      content: ' ';
      display: block;
    }
  }
  .tags {
    .tag {
      padding-right: 5px;
    }
  }
}
