{
  "presets": [ [ "es2015", {"loose": true, "modules": false}], "stage-0", "react" ],
  "env": {
    "development": {
      "plugins": [["react-transform", {
        "transforms": [{
          "transform": "react-transform-hmr",
          "imports": ["react"],
          "locals": ["module"]
        }]
      }]]
    },
    "production": {
      "plugins": [
        ["transform-imports", {
          "reactstrap": {
            "transform": "reactstrap/lib/${member}",
            "preventFullImport": true
          }
        }]
      ]
    }
  }
}
