{
  "extends": [
    "airbnb",
  ],
  "parser": "babel-eslint",
  "globals": {
    "gapi": true,
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "classes": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.prod.js"
      }
    }
  },
  "rules": {
     "comma-dangle": [1, "always-multiline"],
     "no-underscore-dangle" : 0,
     "max-len": [1, 180, 4],
     "arrow-body-style": [0],
     "react/jsx-no-bind": [0],
     "react/no-array-index-key": [0],
  }
}
