{%SITE_ROOT%} {
    # For the GTV
    tls tech@sse.rit.edu {
        protocols tls1.0 tls1.2
    }

    # Nice stuff
    gzip
    # API upstream
    proxy /api {
        upstream {%API_UPSTREAM%}
    }

    # Host the static
    root ./dist
    rewrite {
        if {path} not_match \/api/.*
        if {file} not_match (.*\.js|.*\.html|.*\.css)
        to /index.html
    }
}
