version: 2

jobs:
  build:
    docker:
      - image: ubuntu:16.04
    working_directory: ~/OneRepo
    steps:
      - setup_remote_docker
      - run:
          name: Update build environment
          command: |
            apt-get update && apt-get upgrade -y
            apt-get install -y curl
      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.05.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://get.docker.com/builds/Linux/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin
      - run:
          name: Show Info
          command: docker info
