.officer-box {
 .actions {
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top: 0px;
    left: 15px;
    .btn-small {
      border-radius: 0;
      font-size: 12px;
      padding: .25rem .5rem;
    }
  }


  &:hover, &:focus {
    .actions {
      opacity: 1;
    }
  }
}
